*{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

.nav{
    background-color: rgba(34, 34, 34, 0.496);
    width: 100%;
    height: 8vh;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-image: linear-gradient(to right, #c9ffbf, #ffafbd);
}

.cardContainer{
    width: 100%;
    max-width: 1440px;
    padding:4rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    grid-gap: 1.5rem;
    justify-items: center;
}